@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer utilities {
    .animate__animated {
        animation-duration: 150ms !important;
    }
    @media (prefers-reduced-motion: reduce) {
        .animate__animated {
            animation-duration: 0ms !important;
        }
    }

    .animate__slow {
        animation-duration: 600ms !important;
    }
    @media (prefers-reduced-motion: reduce) {
        .animate__slow {
            animation-duration: 0ms !important;
        }
    }

    .animate__fast {
        animation-duration: 150ms !important;
    }
    @media (prefers-reduced-motion: reduce) {
        .animate__fast {
            animation-duration: 0ms !important;
        }
    }

    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition-duration: 0ms !important;
    }
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

body {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.reactEasyCrop_CropArea {
    width: 80% !important;
    height: 80% !important;
    border: none !important;
    box-shadow: none !important;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/ultralight.otf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/thin.otf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/light.otf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/regular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/medium.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/semibold.otf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/bold.otf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/heavy.otf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/black.otf');
    font-weight: 900;
    font-style: normal;
}